.accordion-container {
    width: 80%;
    margin: auto;
    font-family: Arial, sans-serif;
    margin-bottom: 140px;
  
  }
  
  .accordion-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #B9FF66;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .accordion-number {
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }
  
  .accordion-title {
    flex: 1;
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }
  
  .accordion-toggle {
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .accordion-content {
    padding: 15px;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    display: none;
  }
  
  .accordion-content p {
    margin: 0;
  }
  
  .accordion-item.active .accordion-content {
    display: block;
  }