.brands {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #fff;
    margin-top: 70px;
  }
  
  .brands h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #000;
  }
  
  .brand-logos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    gap: 80px
  }
  
  .brand-logos img {
    width: 100px;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  .brand-logos img:hover {
    filter: grayscale(0%);
  }
  