
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    background-color: #f9f9f9;
  }
  
  .hero-content {
    max-width: 50%;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #555;
  }
  
  .consult-btn {
    padding: 0.8rem 1.5rem;
    background-color: #191A23;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .consult-btn:hover {
    background-color: #3e8e41;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
  
 