.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 10%;
    background-color: #fff;
  }
  
  .logo {
    font-size: 50px;
    font-weight: bold;
    color: #000;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap:25px;
    margin-left:132px;
  }
  
  
  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  .quote-btn {
    padding: 10px 15px;
    color: #000;
    border: 1px solid #000;
    border-radius: 6px;
    background-color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
  }